[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "kernel"]
	path = kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git
[submodule "kernel_andy-shev"]
	path = kernel_andy-shev
	url = https://github.com/andy-shev/linux.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/kudesnick/u-boot.git
